<div class="container">
    <div class="wroclaw-psychoterapy-container">
        <h2>Psychoterapia we Wrocławiu</h2>
        <p>Ofertę swoją kieruję do osób dorosłych, borykających się z wszelkiego rodzaju problemami życiowymi,
            konfliktami
            wewnętrznymi, kłopotami w związkach. Proponuję pomoc psychologiczną, psychoterapię tym wszystkim, którzy są
            niezadowoleni z dotychczasowej, aktualnej jakości życia i pragną to zmienić. Chęć zmiany jest kluczowa w
            podjęciu psychoterapii. Nieraz cała droga jest trudna, ponieważ udając się do psychoterapeuty pacjenci
            najczęściej są już przyzwyczajeni do obecnej sytuacji życiowej i nie wyobrażają sobie jak może wyglądać
            codzienność, w której przeżywają pozytywne emocje i cieszą się życiem.</p>
    </div>
    <div class="about-psychoterapy-container">
        <img class="psi" src="../../../../../assets/images/PsiWroclawImage.svg" alt="wroclaw">
        <div class="text-container">
            <h2>Na czym polega psychoterapia?</h2>
            <p>Podczas psychoterapii otrzymujesz niepowtarzalną możliwość dostrzeżenia źródła swoich problemów,
                schematów
                działania i przekonań, które utrudniają Twoje funkcjonowanie. Razem z psychoterapeutą zastanowisz się do
                jakich zmian chcesz dążyć oraz jak wprowadzić je w życie.
                Cele psychoterapii są ustalane na pierwszych spotkaniach, które mają charakter konsultacyjny. Zostają
                dopasowane indywidualnie do klienta w zależności od jego sytuacji życiowej i własnych preferencji co do
                kierunku dążenia</p>
        </div>
        <img class="hourglass" src="assets/images/Klepsydra%20Image.svg">
        <div class="white-container">
            <div class="text-container">
                <h2>Jak długo trwa psychoterapia?</h2>
                <p>Tak samo jak cele pracy psychoterapeutycznej do indywidualnego klienta dostosowywane są również tempo
                    i czas trwania psychoterapii. Jednak w dużej mierze zależą one od zaangażowania pacjenta w proces.
                    Sesje terapeutyczne trwają około godziny i odbywają się zazwyczaj raz w tygodniu. Natomiast cały
                    proces
                    psychoterapeutyczny może trwać od kilku miesięcy do kilku lat.
                </p>
                <p>
                    W celu zapewnienia kompleksowej pomocy, psychoterapeuta może współpracować ze specjalistami z
                    dziedziny psychologii i psychiatrii.
                </p>
            </div>

        </div>
    </div>
</div>
