@import "/src/styles/screen-variables";

:host {
  display: block;
  background-color: #A5CBEE;
  position: relative;
}
.psi {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 45%;
  width: 55%;
}
.container {
  padding-top: 40px;
  background-color: #FFFBF9;
  height: 1273px;
}

.wroclaw-psychoterapy-container {
  width: 37vw;
  margin: 40px auto 0 90px;
  height: 40%;
  background-color: #FFFBF9;
  h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid;
    width: 325px;
    text-align: center;
  }
}
h2 {
  font-size: 45px;
  font-weight: 400;
}
p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 30;
}
.about-psychoterapy-container {
  padding-top: 40px;
  position: relative;
  height: 60%;
  background-color: #333333;
  color: white;
  h2 {
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 40px;
  }
  .text-container{
    margin: 0 auto 0 10vw;
    width: 40vw;
  }
}
.hourglass{
  position: absolute;
  bottom: 0;
  height: 50%;
  right: 69vw;
}
.white-container {
  color: black;
  width: 70%;
  z-index: 1;
  height: 50%;
  background-color: #FFFBF9;
  position: absolute;
  bottom: 0;
  right: 0;
  .text-container{
    margin: 60px 0 0 100px;
    width: 700px;
  }
}
