<footer>
  <div class="content-container">
  <div class="logo-container">
    <img src="../../../assets/images/Logo.png" alt="logo">
  </div>
  <ul>
    <li class="list-title">Menu</li>
    <li>Strona główna</li>
    <li>O mnie</li>
    <li>Teksty</li>
    <li>Kontakt</li>
  </ul>
  <ul>
    <li class="list-title">Oferta</li>
    <li>Leczenie lęku</li>
    <li>Leczenie depresji</li>
    <li>Zaburzenia osobowości</li>
    <li>Dolegliwości psychosomatyczne</li>
    <li>Leczenie schizofrenii</li>
    <li>PTSD i trauma złożona</li>
    <li>Psychoterapia małżeństw i par</li>
    <li>Terapia EMDR</li>
    <li>Psychoterapia po angielsku</li>
  </ul>
  <ul>
    <li class="list-title">Informacje kontaktowe</li>
    <li> Gabinet psychoterapeutyczny<br>
      ul. Kazimierza Wielkiego 15/8<br>
      50-077 Wrocław (I piętro</li>
    <li>Pon. - Pt. 8:00 - 20:00</li>
    <li>tel: +48 602 887 708</li>
    <li>e-mail: example@email.com</li>
  </ul>
  </div>
  <div class="copyright-container">
    <p>© Copyright 2021 Psycholog - psychoterapia Wrocław - gabinet psychoterapeutyczny Katarzyna Pieńko-Jamuła. Wszytskie prawa zastrzeżone  |  Polityka prywatności</p>
  </div>
</footer>
