footer {
  background: #FFF6F1;
  display: flex;
  flex-flow: row wrap;
  height: 408px;
  width: 100%;
  border-top: solid 0.5px #C5B7B0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.logo-container{
  margin-top: 30px;
  margin-left: 50px;
}

.content-container{
  display: flex;
  flex-flow: row wrap;
}

ul {
  list-style-type: none;
}

ul:nth-child(2){
  margin-left: 110px;
}

ul:nth-child(n+3){
  margin-left: 50px;
}
li{
  font-size: 15px;
  margin-top: 10px;
}

.list-title {
  font-weight: 600;
}

li:nth-child(n+1){
  font-size: 13px;
}

.copyright-container{
  width: 100%;
  text-align: center;
}
p{
  margin: auto;
  text-align: center;
  width: fit-content;
  padding-top: 10px;
  border-top: solid 0.5px #C5B7B0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
