<div class="container">
  <div class="hero-text">
    <div class="text-container">
    <h1>Lorem ipsum dolor sit ametipsum dolor asmes
      tarelat.</h1>
    <p>Nam scelerisque mauris id mi sodales lacinia. Nulla vel diam at ante condimentum congue non ac arcu. Donec
      convallis orci sed ante egestas blandit faucibus erat lacus, nec.</p>
    </div>
  </div>
  <div class="hero-image">
    <img src="../../../../../assets/images/Image-Hero.png" alt="hero">
  </div>
</div>
