@import "src/assets/scss/_base";
:host {
  display: block;
  width: 100%;
  height: 100vh;
  max-height: 937px;
  background: url("../../../../../assets/images/Background-Hero.png");
}
.container{
  padding-top: 122px;
  height: calc(100vh - 132px);
  width: 100%;
  display: flex;
  flex-direction: row;
}
img{
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.text-container{
  margin: 80px 100px 0 auto;
  width: 45vw;
}
h1{
  font-weight: 600;
  font-size: 60px;
}
p{
  font-size: 20px;
  font-weight: 30;
}
.hero-text{
  width: 55vw;
}
.hero-image{
  width: 45%;
}

