
// Small tablets and large smartphones (landscape view)
$screen-xs-max: 576px;

// Small tablets (portrait view) tylko to
$screen-sm-minx: 768px;

// Tablets and small desktops
$screen-sm-max: 992px;

// Large tablets and desktops albo to :d
$screen-lg-min: 1280px ;
$screen-lg-mid: 1720px;
$screen-lg-max: 1920px;
