.active-link {
  font-weight: 600;
  border-bottom: solid 6px #C5B7B0;
}

button {
  height: 40px;
  width: 112px;
  background-color: #A5CBEE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-width: 0;
}
button:hover {
  cursor: pointer;
}
nav {
  align-content: center;
  background: #FFFBF9;
  display: flex;
  flex-flow: row wrap;
  height: 112px;
  position: absolute;
  width: 100%;
  border-bottom: solid 0.5px #C5B7B0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}

.container {
  align-content: center;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 1300px) {
  nav{
    justify-content: space-between;
  }
  .container:nth-child(1){
    width: 360px;
  }
  .container:nth-child(2){
    width: unset;
  }
}
img {
  display: block;
  height: max-content;
}

.links-container {
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 40px;
  margin: 0 20px 0 20px;
  display: inline;
}
a {
  color: inherit;
  text-decoration: inherit;
}
li a:hover{
  cursor: pointer;

}
