<nav>
  <div class="container">
    <img src="../../../assets/images/Logo.png" alt="logo">
  </div>
  <div class="container">
    <ul>
      <li routerLinkActive="active-link"><a routerLink="/">Strona główna</a></li>
      <li routerLinkActive="active-link"><a routerLink="/oferta">Oferta</a></li>
      <li routerLinkActive="active-link"><a routerLink="/omnie">O mnie</a></li>
      <li routerLinkActive="active-link"><a routerLink="/teksty">Teksty</a></li>
      <li routerLinkActive="active-link"><button routerLink="/kontakt">Kontakt</button></li>
<!--      <li>Umów wizytę</li>-->
    </ul>
  </div>
</nav>
