<div class="text-container">
    <h3>Psychoterapia to szansa dla Ciebie i Twoich bliskich </h3>
    <p>Psychoterapeuta, dzięki swojej empatii, wczuwa się w sytuację pacjenta. W swoim gabinecie stara się tworzyć
        atmosferę, w której każdy czuje się bezpiecznie i komfortowo. Traktuje pacjenta całościowo łącząc jego aktualną
        sytuację życiową i stany emocjonalne z życiowymi wydarzeniami, które zawsze mają wpływ na kształt naszych
        obecnych
        działań. Wykorzystując podejście pluralistyczne, planuje przebieg psychoterapii tak, aby w efektywny sposób
        prowadziła
        do upragnionego celu.</p>
</div>

<div><img src="/assets/images/Trzy%20Romby.svg" alt="romb"></div>
<div><img src="/assets/images/Latarnia%20Image.svg" alt="latarnia"></div>
<div><img src="/assets/images/Cytat.svg" alt="cytat"></div>
