img{
  display: block;
  margin: auto;
}
.text-container{
  font-family: 'Open Sans', sans-serif;
  width: 1139.17px;
  margin: auto;
  padding-top: 140px;
  h3{
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    font-size: 30px;
  }
  p{
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
  }
}
:host {
  display: block;
  width: 100%;
  height: 1000px;
  max-height: 937px;
  background: #FFF6F1;
}
