@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
body{
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
app-root {
  display: block;
  height: 100%;
}
h1, h2{
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 2px;
}
